.menu-site {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #258090;
    padding: 10px 0;
    z-index: 1000;
}

.menu-site ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-site li {
    margin: 0 15px;
}

.menu-site a {
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 35px;   
}