@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Press+Start+2P&display=swap');



body {
    background-color: #0c0c0c;
    font-family: 'Press Start 2P';
    display:flex;
    justify-content: center;
}
/*menu*/
.menu-site {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    padding: 25px 0;
    z-index: 1000;
}

.menu-site ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-site li {
    margin: 0 15px;
}

.menu-site a {
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 35px;   
}

.menu-site a:hover {
    color: #808080;
}

#imagem {
    position: absolute;
    width: 50px;
    height: auto;
    vertical-align: middle;
    right: 96%;
}

#game {
    color: white;
    position: absolute;
    left: 4%;
}

#game:hover {
    color: #808080;
}



@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Press+Start+2P&family=Tiny5&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #494747;
}




.content-1 {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-family: "Silkscreen", sans-serif;
}
.content-2 {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-family: "Silkscreen", sans-serif;
}
.content-3 {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-family: "Silkscreen", sans-serif;
}
.content-main {
    height: clamp(400px, 450px, 1000px);
    width: clamp(290px, 290px, 300px);
    background-color: #31363a;
    border-radius: 20px;
}

.content-title {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212d38;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 0 12px;
}
.content-title h2 {
    font-size: 23px;
    color: #ffffff;
}

.content-title img {
    height: 40px;
    width: 40px;
    text-align: end;
}

.content-mission {
    background-color: #205275;
    height: 100px;
    color: #fccd23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.content-mission-1{
    background-color: #EB584C;
    height: 100px;
    color: #fccd23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.content-mission-2 {
    background-color: #1ec11b;
    height: 100px;
    color: #fccd23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.content-profile {
    height: 56%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    position: relative;
}

.profile-section {
    display: grid;
    grid-template-columns: 100px 170px;
}

.img-profile-section {
    width: 100px;
}

.descrição {
    width: 100%;
    color: #1f2e6b;
}

.descrição label:nth-child(n+1) {
    margin-right: 92px;
}

.descrição label:nth-child(n+2) {
    margin-right: 76px;
}

.img-profile-section img {
    height: 100px;
}

.descrição input {
    width: 150px;
    outline: none;
    border: none;
    background-color: #adadad;
    border-radius: 20px;
    padding-left: 6px;
    color: #1f2e6b;
}

.experiencia-perfil {
    width: 100%;
    color: #1f2e6b;
}

.experiencia-descritiva {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.experiencia-barra div {
    height: 10px;
    width: 100px;
    background-color: #ffd129;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    position: relative;
    z-index: 1;
}

.experiencia-barra div span {
    position: absolute;
    background-color: #a5a5a5;
    height: 10px;
    width: 130px;
    top: 0%;
    left: 97%;
    border-radius: 0 10px 10px 0;
    z-index: -1;
}

.Conquistas {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.img-logos img {
    height: 50px;
}

.flex{
    display: flex;
}

/*resposividade*/

@media screen and (max-width:1000px) {
    /*menu*/
    #imagem{
        left: 95px;
    }
    #game{
        left: 150px;
    }
    .menu-site{
        display: flex;
    }
    .links{
        display: none;
    }
    /*cards*/

    .flex{
        flex-direction: column;
    }
    .content-main {
        width: auto;
        position: relative;
       
        justify-items: center;
    }
    .content-mission{
        width: 100%;
    }
    .content-mission-1{
        width: 100%;
    }
    .content-mission-2{
        width: 100%;
    }
    .experiencia-barra{
        width: 200px;
    }
}
