
* {
    justify-content: center;
}


body {
    background-color: #121010;
    font-family: Arial, Helvetica, sans-serif;color:#ffffff;
    
}
.menu-site {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    padding: 25px 0;
    z-index: 1000;
}

.menu-site ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-site li {
    margin: 0 15px;
}

.menu-site a {
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 35px;   
}

.menu-site a:hover {
    color: #808080;
}

#imagem {
    position: absolute;
    width: 50px;
    height: auto;
    vertical-align: middle;
    right: 96%;
}

#game {
    color: white;
    position: absolute;
    left: 4%;
}

#game:hover {
    color: #808080;
}

#entrar {
    position: absolute;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 7%;
    background-color: #696969;
    right: 11%;
    color: white;
    cursor: pointer;
}

#entrar:hover {
    background-color: #A9A9A9;
}

#Cadastrar-se {
    position: absolute;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 9%;
    background-color: #00f;
    color: white;
    right: 1%;
    cursor: pointer;
}

#Cadastrar-se:hover {
    background-color: #4b4be0;
}

.mapa{
    height: 95vh;
    width: 100%;
}


.bnt{
    cursor: pointer;
    opacity: 0;
    width: 55px;
    height: 55px;
    
}

#bnt1{
    position: relative;
    left: 22%;
    bottom: 62vh;
}
#bnt2{
    position: relative;
    left: 32%;
    bottom: 30vh;
}
#bnt3{
    position: relative;
    left: 50%;
    bottom: 20vh;
}
#bnt4{
    position: relative;
    left: 60%;
    bottom: 40vh;
}
.texto{
    color: rgb(255, 255, 255);
}


