@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Press+Start+2P&display=swap');
* {
    justify-content: center;
}


body {
    background-color: #121010;
    font-family: 'Press Start 2P';color:#ffffff;
    
}
.menu-site {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    padding: 25px 0;
    z-index: 1000;
}

.menu-site ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-site li {
    margin: 0 15px;
}

.menu-site a {
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 35px;   
}

.menu-site a:hover {
    color: #808080;
}

#imagem {
    position: absolute;
    width: 50px;
    height: auto;
    vertical-align: middle;
    right: 96%;
    z-index: 10000000;
}

#game {
    color: white;
    position: absolute;
    left: 4%;
}

#game:hover {
    color: #808080;
}

.mapa{
    height: 95vh;
    width: 100%;
}


.bnt{
    cursor: pointer;
    opacity: 0;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    
}

#bnt1{
    position: relative;
    left: 20vw;
    bottom: 65vh;
}
#bnt2{
    position: relative;
    left: 22vw;
    bottom: 35vh;
}
#bnt3{
    position: relative;
    left: 32vw;
    bottom: 22vh;
}
#bnt4{
    position: relative;
    left: 35vw;
    bottom: 43vh;
}
.texto{
    color: rgb(255, 255, 255);
    
}

.html {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    min-width: 320px;
    max-width: 800px;
    padding: 20px;
    font-size: 10px;
}

#titulo {
    text-align: center;
    font-size: 50px;
}


@media screen and (max-width:1000px) {
    /*menu*/
    #imagem{
        left: 95px;
    }
    #game{
        left: 150px;
    }
    .menu-site{
        display: flex;
    }
    .links{
        display: none;
    }
    .texto-index{
        padding: 5%;
    }
}
